# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

# Spring Boot
*.log
*.tmp

# IDE files
# IntelliJ
.idea/
*.iml
# Eclipse
.project
.classpath
.settings/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db
